* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary: #44b9d4;
    --secondary: #140959;
}
body::-webkit-scrollbar {
    width: 0.2rem;
    background-color: #f6fcff;
}

body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #140959;
}
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.hero-portfolio {
    margin-top: 1.2rem;
    width: 100%;
    border-radius: 23px;
    min-height: 95vh;
    background: #263238;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url(https://unsplash.it/3500);
    background-size: cover;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center center;


}

.text-hero-portfolio {
    min-height: 95vh;
    border-radius: 23px;
    width: 100%;
    background-color: #000000a6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-hero-portfolio h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-portfolio-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
}

.project-portfolio-container,
.hero-portfolio,
.project-portfolio-container {
    max-width: 95%;
}

.last-project {
    padding: 0 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:35px;
    justify-content: center;
    align-items: center;
}
.last-project h2{
    color: #263238;
}

.card h3 {
    color: #edf9ff;
}

.card span {
    color: #b0bec5;
}

.cards-project-container {
    width: 100%;
    background-color: #141a1d;
    padding: 1rem 2rem;
    border-radius: 23px;
    column-width: auto;
    column-gap: 20px;
    column-count: 4;
    margin-bottom: 5rem;

}

.card-container{
    padding-top: 2rem !important;
}

.cards-project-container .card img {

    width: 100%;
    height: 300px;
    border-radius: 23px;
    object-fit: cover;
}
.content{
    display: flex;
    gap: 20px;
}
.content div:nth-child(-n+2){
    flex: 1;
}

@media (max-width: 768px) and (max-width: 1024px) {

    .cards-project-container {
        column-width: auto;
        column-count: 2;

    }

}

@media (max-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .cards-project-container {
        column-width: auto;
        column-count: 2;

    }



}

@media (max-width: 481px) and (max-width: 767px) {

    .cards-project-container {
        column-width: auto;
        column-count: 1;
        padding: 1.5rem 2rem;

    }

    .text-hero-portfolio h1 {
        font-size: 3rem;
    }

    .hero-portfolio,
    .text-hero-portfolio {
        min-height: 80vh;
    }

    .hero-portfolio {

        background-image: url(https://unsplash.it/1500);
    }
    .content{
        flex-direction: column;
    }

}